.admin-page {
  display: flex;
  flex-direction: row;
  background-color: #2b2b2b;
}

.admin-sidebar {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 200px;
  height: 100vh;
  background-color: #212121;
  border-right: #4b4b4b 1px solid;
  margin-right: 8px;

  .sidebar-link {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.25rem;
    margin-left: 0;
    padding: 0.75rem;
    display: block;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: #61dafb;
      background-color: #61dafb48;
    }
  }

  .sidebar-link--active {
    color: #61dafb;
    background-color: #00405248;
  }
}

.admin-content {
  width: 100%;
  position: relative;
  background-color: #2b2b2b;
}

@media screen and (max-width: 768px) {
  // Make it a header
  .admin-page {
    flex-direction: column;
    gap: 8px;
  }
  .admin-sidebar {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 64px;
    border-right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

    .sidebar-link {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .sidebar-link-text {
        display: none;
      }
      &:hover {
        color: #61dafb;
        background-color: #61dafb48;
      }
    }
  }
}

.admin-styled-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  // Color every other row
  tr:nth-child(even) {
    background-color: #2b2b2b;
  }

  tr:hover {
    td {
      background-color: #61dafb48;
    }
    td:last-child {
      background-color: transparent;
    }
  }
}